.aboutus {
    // box model
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 70px;

    // visual
    background-color: $lightGrey;

    @include atDesktopM {
        // box model
        padding: 100px 235px;
    }
}

.aboutus__header {
    // box model
    margin-bottom: 75px;
}

.aboutus__content {

}

.aboutus__introduction {
    // box model
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    @include atDesktopS {
        // box model
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 75px;
    }
}

.aboutus__text {
    // box model
    margin: 0;
    margin-bottom: 25px;
    max-width: 550px;

    // typography
    color: $grey;
    font-family: $mainFont;
    font-size: 0.85rem;
    line-height: 24px;

    @include atDesktopS {
        // box model
        margin-bottom: 0;
    }
}

.aboutus__staff {
    // positioning
    position: relative;

    // box model
    display: flex;
    justify-content: space-between;
    // margin-left: -15px;
    max-width: 1140px;

    // visual
    overflow: hidden;
}

.aboutus__arrow {
    // positioning
    position: absolute;

    // box model
    width: 35px;
    height: 35px;

    // visual
    background-color: rgba($grey, 0.3);
    background-repeat: no-repeat;
    border: none;
    transition: all ease-in-out 0.2s;

    &--left {
        // positioning
        left: 0;
        top: 35%;

        // visual
        background-image: url('./img/icons/back.svg');
    }

    &--right {
        // positioning
        right: 0;
        top: 35%;

        // visual
        background-image: url('./img/icons/next.svg');
    }
}

.aboutus__arrow:hover {
    // visual
    background-color: $red;
}

.my-slider__nav {
    // positioning
    position: relative;
    top: -200px;
}
