.blog {
    padding: 0 25px;

    @include atDesktopM {
        // box model
        padding: 0 235px;
    }
}

.blog__header {
    // box model
    margin-bottom: 70px;
}

.blog__content {

}

.blog__post {

}