.contacts {
    // box model
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

.contacts__item {
    // box model
    margin-left: 7.5px;
    margin-right: 7.5px;
    
    // visual
    list-style-type: none;
}

.contacts__icon {
    // box model
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;

    // typography
    color: $light;

    // visual
    // border: 1px solid $light;
    border-radius: 50%;
    text-decoration: none;
    transition: ease-in-out 0.2s;
}

.contacts__icon--vk {
    background-image: url('./img/icons/vk.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts__icon--insta {
    background-image: url('./img/icons/insta.png');
    background-repeat: no-repeat;
    background-size: contain;
}