.hero {
    // box model
    height: 100vh;
    max-height: 770px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 40px;

    // visual
    background-color: #131313;
    background-repeat: no-repeat;
    background-size: cover;

    @include atTablet {

    }

    @include atDesktopM {
        // box model
        padding-left: 230px;
        padding-right: 230px;
    }
}

.hero__top {
    // box model
    display: flex;
}

.hero__logo {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $titleFont;
    font-weight: 700;
    line-height: 36px;
    font-size: 24px;

    // visual
    text-decoration: none;
}

.hero__nav {
    // positioning
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 777;

    // box model
    width: 100%;
    max-width: 400px;

    // visual
    opacity: 0.9;
    transition: all 0.3s ease-out;

    &--hidden {
        // positioning
        right: -110%;
    }

    @include atDesktopS {
        // positioning
        position: unset;
        // top: 40px;
        // left: 210px;

        // box model
        width: auto;
        max-width: unset;
        margin-left: auto;
        
        // visual
        visibility: visible;
        opacity: 1;
    }

    @include atDesktopM {
        // positioning
        left: 260px;
    }

    @include atDesktopL {
        // positioning
        left: 320px;
    }

    @include atFullHD {
        // positioning
        left: 400px;
    }
}

.hero__content {
    // box model
    padding-top: 130px;

    @include atDesktopS {
        // box model
        padding-top: 230px;
    }
}

.hero__button {
    // typography
    text-align: center;
}