.hero-caption {
    // box model
    margin-bottom: 130px;

    // typography
    text-align: center;

    @include atTablet {
        // box model
        margin-bottom: 50px;
    }
}

.hero-caption__title {
    // box model
    margin: 0;
    margin-bottom: 30px;

    // typography
    color: $light;
    font-family: $titleFont;
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    
    @include atTablet {
        // typography
        font-size: 3rem;
    }
    
    @include atDesktopS {
        // typography
        // line-height: 24px;
    }
}

.hero-caption__subtitle {
    // box model
    margin: 0;

    // typography
    color: $light;
    font-family: $mainFont;
    font-size: 1.25rem;
}