.staff-member {
    // positioning
    position: relative;

    // box model
    margin-left: auto;
    margin-right: auto;
}


.staff-member__photo {
    // positioning
    position: relative;

    // box model
    display: flex;
    justify-content: center;
    width: 100%;
    height: 250px;
    max-width: 265px;
    margin-bottom: 20px;
}

.staff-member__photo:hover::after {
    // box model
    display: block;
}

.staff-member__photo:hover .staff-member__socials{
    // box model
    display: flex;
}

.staff-member__photo::after {
    content: "";

    // positioning
    position: absolute;
    left: 0;
    top: 0;

    // box model
    display: none;
    width: 100%;
    height: 100%;

    // visual
    background-color: rgba($dark, 0.3);
}

.staff-member__photo img {
    // box model
    width: 100%;
    height: 100%;

    // visual
    object-fit: cover;
}

.staff-member__socials {
    // positioning
    position: absolute;
    bottom: 30px;
    z-index: 9;

    // box model
    display: none;
    justify-content: center;
}

.staff-member__data {

}

.staff-member__name {
    // box model
    margin: 0;
    margin-bottom: 15px;

    // typography
    color: $grey;
    font-family: $titleFont;
    font-size: 0.85rem;
    text-align: center;
    text-transform: uppercase;
}

.staff-member__position {
    // box model
    margin: 0;

    // typography
    color: $grey;
    font-family: $mainFont;
    font-size: 0.8rem;
    text-align: center;
}