.stuff-member {
    // positioning
    position: relative;

    // box model
    margin-left: 15px;
    margin-right: 15px;
}

.stuff-member__photo {
    // box model
    max-width: 265px;
    width: 100%;
    margin-bottom: 20px;
}

.stuff-member__photo img {
    // box model
    width: 100%;
    height: 100%;
}

.stuff-member__socials {

}

.stuff-member__social {

}

.stuff-member__data {

}

.stuff-member__name {
    // box model
    margin: 0;
    margin-bottom: 15px;

    // typography
    color: $grey;
    font-family: $titleFont;
    font-size: 0.85rem;
    text-align: center;
    text-transform: uppercase;
}

.stuff-member__position {
    // box model
    margin: 0;

    // typography
    color: $grey;
    font-family: $mainFont;
    font-size: 0.8rem;
    text-align: center;
}