.works-list {
    // box model
    display: flex;
    justify-content: space-between;
    max-width: 420px;
    margin: 0 auto;
    padding-left: 0;
}

.works-list__item {
    // typography
    color: $dark;
    font-family: $mainFont;
    font-size: 1rem;

    // visual
    list-style-type: none;
    transition: all ease-in-out 0.2s;

    &--active {
        // typography
        color: $red;
    }
}

.works-list__item:hover {
    // typography
    color: $red;
}