.works {
    // box model
    max-width: 1600px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;

    @include atDesktopM {
        // box model
        padding: 0 235px;
    }
}

.works__content {

}

.works__menu {
    // box model
    margin-bottom: 70px;
}
