nav.main-nav
    ul.main-nav__list
        li.main-nav__item: a(href="index.html").main-nav__link Home
        li.main-nav__item: a(href="index.html#services").main-nav__link Services
        li.main-nav__item: a(href="aboutus.html").main-nav__link About
        li.main-nav__item: a(href="works.html").main-nav__link Works
        li.main-nav__item: a(href="blog.html").main-nav__link Blog
        li.main-nav__item: a(href="clients.html").main-nav__link Clients
        li.main-nav__item: a(href="contact.html").main-nav__link Contact