nav.main-nav
    ul.main-nav__list
        li.main-nav__item: a(href="index.html").main-nav__link Home
        li.main-nav__item: a(href="index.html#services").main-nav__link Services
        li.main-nav__item: a(href="index.html#aboutus").main-nav__link About
        li.main-nav__item: a(href="index.html#works").main-nav__link Works
        li.main-nav__item: a(href="index.html#blog").main-nav__link Blog
        li.main-nav__item: a(href="index.html#clients").main-nav__link Clients
        li.main-nav__item: a(href="index.html#contact").main-nav__link Contact