// colors
$light: #ffffff;
$grey: #555555;
$lightGrey: #f8f8f8;
$red: #c0301c;
$dark: #000000;

// fonts
$mainFont: 'Roboto slab', Arial, sans-serif;
$titleFont: 'Montserrat', Arial, sans-serif;

//mail spinner
$radius: 30;
$diameter: $radius * 2;
$time: 2000;