<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">

        title Startup
        
    body
        header.hero
            .hero__top
                p.hero__logo Startup

                .hero__nav.hero__nav--hidden
                    include modules/_menu.pug

                .menu-button
                    .menu-button__middle

            .hero__content
                .hero-caption
                    h1.hero-caption__title Welcome to startup
                    p.hero-caption__subtitle Your favourite creative agency template
                .hero__button
                    a.button(href="#") Get started

        main
            section.services#services
                .services__header
                    header.section-header
                        h2.section-header__title Services
                        p.section-header__subtitle We offer ipsum dolor sit amet, consetetur sadipscing elitr amet

                .services__content
                    .services__item
                        .sevices__logo.sevices__logo--item-1
                        p.services__name Clean typography
                        p.services__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.

                    .services__item
                        .sevices__logo.sevices__logo--item-2
                        p.services__name Rock solid code
                        p.services__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.

                    .services__item
                        .sevices__logo.sevices__logo--item-3
                        p.services__name Expert support
                        p.services__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.


            section.aboutus#aboutus
                .aboutus__header
                    header.section-header
                        h2.section-header__title About us
                        p.section-header__subtitle Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet

                .aboutus__content
                    .aboutus__introduction
                        p.aboutus__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.

                        p.aboutus__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum dolor sit amet. Lorem ipsum dolor et.

                    .aboutus__staff
                        .my-slider
                            .staff-member
                                .staff-member__photo
                                    img(src="./img/team/member-1.jpg", alt="Фотография сотрудника компании")
                                    .staff-member__socials
                                        .social
                                            .social__item
                                                a.social__icon(href="https://www.facebook.com/" target="_blank").icon--facebook
                                            .social__item
                                                a.social__icon(href="https://twitter.com/" target="_blank").icon--twitter
                                            .social__item
                                                a.social__icon(href="https://www.instagram.com/" target="_blank").icon--instagram
                                            .social__item
                                                a.social__icon(href="https://vk.com/" target="_blank").icon--vk
                                .staff-member__data
                                    p.staff-member__name Md. Khalil Uddin
                                    p.staff-member__position Head of Ideas

                            .staff-member
                                .staff-member__photo
                                    img(src="./img/team/member-2.jpg", alt="Фотография сотрудника компании")
                                    .staff-member__socials
                                        .social
                                            .social__item
                                                a.social__icon(href="https://www.facebook.com/" target="_blank").icon--facebook
                                            .social__item
                                                a.social__icon(href="https://twitter.com/" target="_blank").icon--twitter
                                            .social__item
                                                a.social__icon(href="https://www.instagram.com/" target="_blank").icon--instagram
                                            .social__item
                                                a.social__icon(href="https://vk.com/" target="_blank").icon--vk
                                .staff-member__data
                                    p.staff-member__name Rubel Miah
                                    p.staff-member__position Lead WordPress Developer

                            .staff-member
                                .staff-member__photo
                                    img(src="./img/team/member-3.jpg", alt="Фотография сотрудника компании")
                                    .staff-member__socials
                                        .social
                                            .social__item
                                                a.social__icon(href="https://www.facebook.com/" target="_blank").icon--facebook
                                            .social__item
                                                a.social__icon(href="https://twitter.com/" target="_blank").icon--twitter
                                            .social__item
                                                a.social__icon(href="https://www.instagram.com/" target="_blank").icon--instagram
                                            .social__item
                                                a.social__icon(href="https://vk.com/" target="_blank").icon--vk
                                .staff-member__data
                                    p.staff-member__name Shamim Mia
                                    p.staff-member__position Sr. Web Developer

                            .staff-member
                                .staff-member__photo
                                    img(src="./img/team/member-4.jpg", alt="Фотография сотрудника компании")
                                    .staff-member__socials
                                        .social
                                            .social__item
                                                a.social__icon(href="https://www.facebook.com/" target="_blank").icon--facebook
                                            .social__item
                                                a.social__icon(href="https://twitter.com/" target="_blank").icon--twitter
                                            .social__item
                                                a.social__icon(href="https://www.instagram.com/" target="_blank").icon--instagram
                                            .social__item
                                                a.social__icon(href="https://vk.com/" target="_blank").icon--vk
                                .staff-member__data
                                    p.staff-member__name John Doe
                                    p.staff-member__position Front-end Developer

                            .staff-member
                                .staff-member__photo
                                    img(src="./img/team/member-5.jpg", alt="Фотография сотрудника компании")
                                    .staff-member__socials
                                        .social
                                            .social__item
                                                a.social__icon(href="https://www.facebook.com/" target="_blank").icon--facebook
                                            .social__item
                                                a.social__icon(href="https://twitter.com/" target="_blank").icon--twitter
                                            .social__item
                                                a.social__icon(href="https://www.instagram.com/" target="_blank").icon--instagram
                                            .social__item
                                                a.social__icon(href="https://vk.com/" target="_blank").icon--vk
                                .staff-member__data
                                    p.staff-member__name Rubel Miah
                                    p.staff-member__position Lead WordPress Developer

                            .staff-member
                                .staff-member__photo
                                    img(src="./img/team/engineer.jpg", alt="Фотография сотрудника компании")
                                    .staff-member__socials
                                        .social
                                            .social__item
                                                a.social__icon(href="https://www.facebook.com/" target="_blank").icon--facebook
                                            .social__item
                                                a.social__icon(href="https://twitter.com/" target="_blank").icon--twitter
                                            .social__item
                                                a.social__icon(href="https://www.instagram.com/" target="_blank").icon--instagram
                                            .social__item
                                                a.social__icon(href="https://vk.com/" target="_blank").icon--vk
                                .staff-member__data
                                    p.staff-member__name Rubel Miah
                                    p.staff-member__position Lead WordPress Developer
                    .my-slider__nav
                        button.aboutus__arrow.aboutus__arrow--left
                        button.aboutus__arrow.aboutus__arrow--right


            section.works#works
                .works__header
                    header.section-header
                        h2.section-header__title Latest works
                
                .works__content
                    nav.works__menu
                        ul.works-list
                            li.works-list__item.works-list__item--active(data-class='all') All
                            li.works-list__item(data-class='brand') Branding
                            li.works-list__item(data-class='design') Design
                            li.works-list__item(data-class='dev') Development
                            li.works-list__item(data-class='strategy') Strategy

                    .works__gallery
                        .gallery
                            .gallery__item(data-class='brand')
                                .gallery__image
                                    img(src="./img/gallery/hairdresser.jpg", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item(data-class='design')
                                .gallery__image
                                    img(src="./img/gallery/pigeon.jpg", alt="")
                                .gallery__caption
                                    h3.gallery__title Pigeon
                                    p.gallery__category Design
                                    a.gallery__button(href="") View

                            .gallery__item(data-class='brand')
                                .gallery__image
                                    img(src="./img/gallery/notebook.jpg", alt="")
                                .gallery__caption
                                    h3.gallery__title Workflow
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item(data-class='dev')
                                .gallery__image
                                    img(src="./img/gallery/camera.jpg", alt="")
                                .gallery__caption
                                    h3.gallery__title Photo App's
                                    p.gallery__category Development
                                    a.gallery__button(href="") View

                            .gallery__item(data-class='strategy')
                                .gallery__image
                                    img(src="./img/gallery/bycicle.jpg", alt="")
                                .gallery__caption
                                    h3.gallery__title Improve yourself
                                    p.gallery__category Strategy
                                    a.gallery__button(href="") View

                            .gallery__item(data-class='design')
                                .gallery__image
                                    img(src="./img/gallery/notes.jpg", alt="")
                                .gallery__caption
                                    h3.gallery__title Your startup
                                    p.gallery__category Design
                                    a.gallery__button(href="") View

                            .gallery__item(data-class='dev')
                                .gallery__image
                                    img(src="./img/gallery/table.jpg", alt="")
                                .gallery__caption
                                    h3.gallery__title First steps
                                    p.gallery__category Development
                                    a.gallery__button(href="") View

                            .gallery__item(data-class='strategy')
                                .gallery__image
                                    img(src="./img/gallery/envelope.jpg", alt="")
                                .gallery__caption
                                    h3.gallery__title Envelope
                                    p.gallery__category Strategy
                                    a.gallery__button(href="") View

                            .gallery__item(data-class='brand')
                                .gallery__image
                                    img(src="./img/gallery/events.jpg", alt="")
                                .gallery__caption
                                    h3.gallery__title Your calendar
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View


            section.banner
                .banner__content
                    p.banner__cta Do you like <span>OUR WORK</span> so far? Let's talk about <span>YOUR PROJECT</span>!
                .banner__button
                    a.button(href="#") Get in touch


            section.blog#blog
                .blog__header
                    header.section-header
                        h2.section-header__title Recent blog
                        p.section-header__subtitle Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet

                .blog__content
                    .blog__post
                        .post
                            .post__image
                                img(src="", alt="")
                            .post__content
                                .post__header
                                    .post__date
                                        p.post__date-number 18
                                        p.post_date-month Oct
                                    .post__caption
                                        h4.post__title Startup ideas needs to be funded
                                        p.post__author By <span>Khalil</span> Uddin in <span>Development</span>
                                    p.post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed di ipsum dolor sit amet, consetetur sadipscing elitr, sed diipsum dolor sit amet, consetetur sadipscing elitr, sed di ipsum dolor sit amet, consetetur sadipscing elitr, sed di.
                                    a.post__button(href="") Read more

                        .post
                            .post__image
                                img(src="", alt="")
                            .post__content
                                .post__header
                                    .post__date
                                        p.post__date-number 18
                                        p.post_date-month Oct
                                    .post__caption
                                        h4.post__title Startup ideas needs to be funded
                                        p.post__author By <span>Khalil</span> Uddin in <span>Development</span>
                                    p.post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed di ipsum dolor sit amet, consetetur sadipscing elitr, sed diipsum dolor sit amet, consetetur sadipscing elitr, sed di ipsum dolor sit amet, consetetur sadipscing elitr, sed di.
                                    a.post__button(href="") Read more



            section.clients#clients
                ul.clients__list
                    li.clients__brand
                        a.clients__item(href="#")
                            img(src="", alt="")
                    li.clients__brand
                        a.clients__item(href="#")
                            img(src="", alt="")
                    li.clients__brand
                        a.clients__item(href="#")
                            img(src="", alt="")
                    li.clients__brand
                        a.clients__item(href="#")
                            img(src="", alt="")
                    li.clients__brand
                        a.clients__item(href="#")
                            img(src="", alt="")

                .clients__slider
                    p.clients__text "Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
                    p.clients__name John Doe, Google Inc.
                    .clients__dots
                        .clients__dots-item
                        .clients__dots-item
                        .clients__dots-item


            section.contact#contact
                .contactus__header
                    header.section-header
                        h2.section-header__title Get in touch
                        p.section-header__subtitle Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet

                .contactus__content
                    .contactus__data
                        .contactus__data-item
                            p.contactus__data-title Address
                            p.contactus__data-content 312, 7th Ave, New York NY 101200, United States of America
 
 

                        .contactus__data-item.contactus__data-item--hotline
                            p.contactus__data-title Hotline (24x7)
                            a.contactus__data-content(href="tel:+650052300") +65 0052 300
                            a.contactus__data-content(href="tel:+6588251210") +65 88251 210
                            a.contactus__data-content(href="tel:+8801723511340") +88 01723 511 340

                        .contactus__data-item.contactus__data-item--email
                            p.contactus__data-title E-mail
                            p.contactus__data-content shapedtheme@gmail.com khalilkode@gmail.com

                    .contactus__form
                        form#contactus-form.form(action="")
                            .contactus-form__content
                                .contactus-form__group
                                    input.contactus-form__input(type="text" name="fullname" placeholder="Your name" required pattern="^[A-z|А-я][a-z|а-я]{2,}$")
                                    .contactus-form__check
                                    input.contactus-form__input(type="text" name="subject" placeholder="Your subject" required pattern="^[A-z|А-я][a-z|а-я]{2,}$")
                                    .contactus-form__check
                                .contactus-form__group
                                    input.contactus-form__input(type="email" name="email" placeholder="Your e-mail" required)
                                    .contactus-form__check
                                    input.contactus-form__input(type="text" name="company" placeholder="Your company")
                                    .contactus-form__check
                                input.contactus-form__input(type="text" name="message" placeholder="Your message" required)

                            .contactus__footer
                                .contactus__button
                                    input.contactus-form__submit.button(type="button" value="Send messsage")
                                p.contactus__details <span>*</span> We'll contact you as soon as possible. We don'treply on monday.


            footer.footer
                .footer__content
                    .footer__socials
                        ul.socials
                            li.socials__item
                                a.socials__icon(href="").social-icon--twitter
                            li.socials__item
                                a.socials__icon(href="").social-icon--instagram
                            li.socials__item
                                a.socials__icon(href="").social-icon--facebook
                            li.socials__item
                                a.socials__icon(href="").social-icon--vk

                    p.footer__copyright © 2020 Startup, Designed by ShapedTheme

            .container
                .item


        script(src="scripts.js")
        script(src="main.js")
        