<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="styles.css")

        title Startup
        
    body
        header.hero
            .hero__top
                p.hero__logo Startup

                .hero__nav
                    include modules/_menu.pug

                .menu-button
                    .menu-button__middle

            .hero__content
                .hero-caption
                    h1.hero-caption__title Welcome to startup
                    p.hero-caption__subtitle Your favourite creative agency template
                    .hero__button
                        a.button(href="#") Get started

        main
            section.services#services
                .services__header
                    header.section-header
                        h2.section-header__title Services
                        p.section-header__subtitle We offer ipsum dolor sit amet, consetetur sadipscing elitr amet

                .services__content
                    .services__item
                        .sevices__logo
                        p.services__name Clean typography
                        p.services__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minim

                    .services__item
                        .sevices__logo
                        p.services__name Clean typography
                        p.services__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minim

                    .services__item
                        .sevices__logo
                        p.services__name Clean typography
                        p.services__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minim


            section.aboutus#aboutus
                .aboutus__header
                    header.section-header
                        h2.section-header__title About us
                        p.section-header__subtitle Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet

                .aboutus__content
                    .aboutus__introduction
                        p.aboutus__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam

                        p.aboutus__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam, consetetur sadipscing elitr, sediam. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam.Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam

                    .aboutus__stuff
                        .stuff-member
                            .stuff-member__photo
                                img(src="", alt="")
                            .stuff-member__socials
                                a.stuff-member__social(href="").icon--facebbok
                                a.stuff-member__social(href="").icon--twitter
                                a.stuff-member__social(href="").icon--instagram
                            .stuff-member__data
                                p.stuff-member__name Md. Khalil Uddin
                                p.stuff-member__position Head of Ideas

                        .stuff-member
                            .stuff-member__photo
                                img(src="", alt="")
                            .stuff-member__socials
                                a.stuff-member__social(href="").icon--facebbok
                                a.stuff-member__social(href="").icon--twitter
                                a.stuff-member__social(href="").icon--instagram
                            .stuff-member__data
                                p.stuff-member__name Md. Khalil Uddin
                                p.stuff-member__position Head of Ideas

                        .stuff-member
                            .stuff-member__photo
                                img(src="", alt="")
                            .stuff-member__socials
                                a.stuff-member__social(href="").icon--facebbok
                                a.stuff-member__social(href="").icon--twitter
                                a.stuff-member__social(href="").icon--instagram
                            .stuff-member__data
                                p.stuff-member__name Md. Khalil Uddin
                                p.stuff-member__position Head of Ideas

                        .stuff-member
                            .stuff-member__photo
                                img(src="", alt="")
                            .stuff-member__socials
                                a.stuff-member__social(href="").icon--facebbok
                                a.stuff-member__social(href="").icon--twitter
                                a.stuff-member__social(href="").icon--instagram
                            .stuff-member__data
                                p.stuff-member__name Md. Khalil Uddin
                                p.stuff-member__position Head of Ideas

                        .stuff-member
                            .stuff-member__photo
                                img(src="", alt="")
                            .stuff-member__socials
                                a.stuff-member__social(href="").icon--facebbok
                                a.stuff-member__social(href="").icon--twitter
                                a.stuff-member__social(href="").icon--instagram
                            .stuff-member__data
                                p.stuff-member__name Md. Khalil Uddin
                                p.stuff-member__position Head of Ideas


            section.works#works
                .works__header
                    header.section-header
                        h2.section-header__title Latest works
                
                .works__content
                    nav.works__menu
                        ul.works__menu-nav
                            li.works__menu-item All
                            li.works__menu-item Branding
                            li.works__menu-item Design
                            li.works__menu-item Development
                            li.works__menu-item Strategy

                    .works__gallery
                        .gallery
                            .gallery__item
                                .gallery__image
                                    img(src="", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item
                                .gallery__image
                                    img(src="", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item
                                .gallery__image
                                    img(src="", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item
                                .gallery__image
                                    img(src="", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item
                                .gallery__image
                                    img(src="", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item
                                .gallery__image
                                    img(src="", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item
                                .gallery__image
                                    img(src="", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item
                                .gallery__image
                                    img(src="", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View

                            .gallery__item
                                .gallery__image
                                    img(src="", alt="")
                                .gallery__caption
                                    h3.gallery__title Hair Dresser
                                    p.gallery__category Branding
                                    a.gallery__button(href="") View


            section.banner
                .banner__content
                    p.banner__cta Do you like <span>OUR WORK</span> so far? Let's talk about <span>YOUR PROJECT</span>!
                .banner__button
                    a.button(href="#") Get in touch


            section.blog#blog
                .blog__header
                    header.section-header
                        h2.section-header__title Recent blog
                        p.section-header__subtitle Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet

                .blog__content
                    .blog__post
                        .post
                            .post__image
                                img(src="", alt="")
                            .post__content
                                .post__header
                                    .post__date
                                        p.post__date-number 18
                                        p.post_date-month Oct
                                    .post__caption
                                        h4.post__title Startup ideas needs to be funded
                                        p.post__author By <span>Khalil</span> Uddin in <span>Development</span>
                                    p.post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed di ipsum dolor sit amet, consetetur sadipscing elitr, sed diipsum dolor sit amet, consetetur sadipscing elitr, sed di ipsum dolor sit amet, consetetur sadipscing elitr, sed di.
                                    a.post__button(href="") Read more

                        .post
                            .post__image
                                img(src="", alt="")
                            .post__content
                                .post__header
                                    .post__date
                                        p.post__date-number 18
                                        p.post_date-month Oct
                                    .post__caption
                                        h4.post__title Startup ideas needs to be funded
                                        p.post__author By <span>Khalil</span> Uddin in <span>Development</span>
                                    p.post__text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed di ipsum dolor sit amet, consetetur sadipscing elitr, sed diipsum dolor sit amet, consetetur sadipscing elitr, sed di ipsum dolor sit amet, consetetur sadipscing elitr, sed di.
                                    a.post__button(href="") Read more



            section.clients#clients
                .clients__slider
                    .clients-slider
                        .clients-slider__item
                            ul.clients-slider__brands
                                


            section.contact#contact


            footer.footer
